
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030C;
    --fonte-principal:"Inter";
}

body{
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;   /* como a fonte esta dentro do body, esta replicado a todos os textos*/
}

h1{
    color: var(--branco-principal);
}

                                
* {
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(img/Background.png); /* busca imagem de fundo pois é apenas decorativo */
    background-repeat: no-repeat;   /*nao repete o fundo*/
    background-size: contain; /* pega o fundo e coloca a imagem em todo o container*/

}
.container{      /*princpal e container     dentro da section para definir imagem fundo e combo*/
    height: 100vh;   /*fefinindo o estaço do fundo */
    display: grid;
    grid-template-columns: 33% 33% 33%; 
    
   
   
}

.container__botao{
    background-color: var(--botao-azul);   /*   cor principa */
    color: var(--branco-principal);   /* cor letra  */
    border-radius: 5px;   /*arredonda borda*/
    padding: 1rem; /* tamanho do container */
    display: block; /* fazendo botao ficar em baixo como bloco sao invez de linha  */
    text-decoration: none;  /*tirando o sublinhado*/
  
}

.botao_secudario{
    background-color:transparent;   /*   cor principa */
    border: 2px solid var(--branco-principal); 
}

.container__aviso{
font-size: 12px;     /* sobrescrevendo a formacao da fonte padrao em body */
color: var(--cinza-secundario);
}

.container__tilulo{
    font-size: 28px;
    font-weight: 700px ;
}